/* styles.css */

/* Ajustes para el logo en el navbar */
.navbar-item img {
    max-height: 60px;
    margin-right: 10px; /* Ajusta según sea necesario */
}

/* Desactivar el efecto hover en el logo */
.navbar-brand .navbar-item:hover {
    background-color: transparent !important;
}

/* Ajustes de colores y espaciados para el navbar */
.navbar {
    background-color: #ffffff; /* Color de fondo del navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para el navbar */
}

.navbar-menu .navbar-start .navbar-item {
    font-size: 1.1em; /* Tamaño de fuente de los enlaces del navbar */
    font-weight: 500; /* Peso de fuente */
    color: #333; /* Color del texto */
}

.navbar-menu .navbar-start .navbar-item:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el cursor */
    color: #000; /* Color del texto al pasar el cursor */
}

/* Ajustes del navbar burger para dispositivos móviles */
.navbar-burger {
    color: #333;
}

.navbar-burger:hover {
    background-color: #f0f0f0;
}

/* Ajustes de alineación para el contenido del navbar */
.navbar-brand, .navbar-menu {
    align-items: center;
}
